:root {
    --paver-color-primary: #2271B1;
    --paver-color-primary-light: #06b6d4;
    --paver-color-secondary: #155e75;
    --paver-color-light: #F9F9F9;
    --paver-color-dark: #3C434A;
    --paver-border-radius: 4px;
    --paver-border-color: #C3C4C7;
  }
